.city-info {
  margin: 30px 0;
}
.city-temp {
  font-size: 62px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  position: relative;
  top: 10;
}
.units {
  position: relative;
  font-size: 20px;
  top: -24px;
}
.city-name {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
.weather-icon {
  display: block;
  margin: 0 auto;
}
.time-format {
  text-align: center;
}
.dis-weather {
  font-size: 20px;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
  text-align: center;
}
.forecast-info {
  margin-top: 30px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}
